body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-weight: lighter;
  color: #444;
  background-color: #ffe;
  transition: all .4s ease-in-out;
  letter-spacing: 0.5px;
}

.head {
  font-weight: lighter;
  letter-spacing: 3px;
  padding-bottom: 45px;
  color: #444;
  margin: 50px;
  border-bottom: 1px dashed #444;
}

.label {
  margin: 10px;
}
